{% extends "admin_base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

    <h1 id="">All Categories</h1>
    <div>&nbsp;</div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Parent_id</th>
                <th>Added on</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for category in categories %}
            {% set category_id = category.key().id() %}
            <tr>
                <td>{{ category_id }}</td>
                <td>{{ category.title }}</td>
                <td>{{ category.description }}</td>
                <td>{{ category.parent_id }}</td>
                <td>{{ category.created.strftime('%b %d, %Y %I:%M %p') }}</td>
                <td>
                    <form method="post" action="{{ url_for('delete_category', category_id=category_id) }}">
                        <button class="btn">Delete</button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr><td colspan="6">No categories yet</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        <a class="btn btn-primary" data-toggle="modal" data-target="#new-category-modal">
            <i class="icon-plus-sign icon-white"></i>
            New category
        </a>
    </p>

    {% include 'category/new.html' %} {# pull in new_category form (modal dialog) #}

{% endblock content %}

{% block tail_script %}
    <script>
        var FormHelpers = {
            validate: function (form, evt) {
                // Form validation for modal dialog
                var title = form.find('#title').val();
                var description = form.find('#description').val();
                if (!(title)) {
                    evt.preventDefault();
                    Utils.renderFieldErrorTooltip('#title', 'Name is required', 'right');
                }
            },
            init: function () {
                var self = this;
                var category_form = $('#new-category-form');
                category_form.on('submit', function (evt) {
                    self.validate(category_form, evt)
                });
            }
        };
        $(document).ready(function() {
            // Enable modal dialog (via Bootstrap's 'modal' plugin)
            $('#new-category-modal').modal({'show': false});
            FormHelpers.init();
        });
    </script>
{% endblock %}
