<div class="modal fade" id="new-category-modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Edit Category</h3>
    </div>
    <div class="modal-body">
        <form id="new-category-form" class="well form-horizontal"
            action="{{ url_for('admin_categories') }}" method="post" accept-charset="utf-8">
            <fieldset>
                {{ form.hidden_tag() }}
                <div class="control-group">
                    <div class="control-label">{{ form.title.label }}</div>
                    <div class="controls">
                        {{ form.title|safe }}
                        {% if form.title.errors %}
                        <ul class="errors">
                            {% for error in form.title.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">{{ form.order.label }}</div>
                    <div class="controls">
                        {{ form.order|safe }}
                        {% if form.order.errors %}
                        <ul class="errors">
                            {% for error in form.order.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">{{ form.autoscroll.label }}</div>
                    <div class="controls">
                        {{ form.autoscroll|safe }}
                        {% if form.autoscroll.errors %}
                        <ul class="errors">
                            {% for error in form.autoscroll.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">{{ form.visible.label }}</div>
                    <div class="controls">
                        {{ form.visible|safe }}
                        {% if form.visible.errors %}
                        <ul class="errors">
                            {% for error in form.visible.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">{{ form.non_menu_category.label }}</div>
                    <div class="controls">
                        {{ form.non_menu_category|safe }}
                        {% if form.non_menu_category.errors %}
                        <ul class="errors">
                            {% for error in form.non_menu_category.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="Save Category"/>
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

