{% extends "admin_base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

    <h1 id="">All Images</h1>
    <div>&nbsp;</div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category id</th>
                <th>Added on</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for image in images %}
            {% set image_id = image.key().id() %}
            <tr>
                <td>{{ image_id }}</td>
                <td><img src="/blob/{{ image.image_thumb_blob_key }}" alt="{{ image.title }}"/></td>
                <td>{{ image.title }}</td>
                <td>{{ image.description }}</td>
                <td>{{ image.category_id }}</td>
                <td>{{ image.created.strftime('%b %d, %Y %I:%M %p') }}</td>
                <td>
                    <form method="post" action="{{ url_for('delete_image', image_id=image_id) }}">
                        <button class="btn">Delete</button>
                    </form>
                </td>
            </tr>
            {% else %}
            <tr><td colspan="6">No images yet</td></tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        <a class="btn btn-primary" data-toggle="modal" data-target="#new-image-modal">
            <i class="icon-plus-sign icon-white"></i>
            New image
        </a>
    </p>

    {% include 'image/new.html' %} {# pull in new_image form (modal dialog) #}

{% endblock content %}

{% block tail_script %}
    <script>
        var FormHelpers = {
            validate: function (form, evt) {
                // Form validation for modal dialog
                var title = form.find('#title').val();
                var description = form.find('#description').val();
                if (!(title)) {
                    evt.preventDefault();
                    Utils.renderFieldErrorTooltip('#title', 'Name is required', 'right');
                }
            },
            init: function () {
                var self = this;
                var image_form = $('#new-image-form');
                image_form.on('submit', function (evt) {
                    self.validate(image_form, evt)
                });
            }
        };
        $(document).ready(function() {
            // Enable modal dialog (via Bootstrap's 'modal' plugin)
            $('#new-image-modal').modal({'show': false});
            FormHelpers.init();
        });
    </script>
{% endblock %}
