
/* Main stylesheet */

/* Your customizations here */

.container-fluid, #body_content, #navigation{
	height: 570px;
}

.nav ul.nav{
	padding-left: 1em;
}

.post-container{
	overflow-x: hidden;
	overflow-y: hidden;
/*  + 40px for well padding & +20px for scrollbar*/
	height: 575px;
}

#loader {
	width: 300px;
	margin: 0 auto;
	margin-top:230px;
}

.posts{
	height: 100%;
	padding: 0;
	overflow: hidden;
	position: relative;
	top: 575px;
}

.post.well {
	float: left;
	height: 515px;
	max-width: 740px;
	margin-left: 10px;
	margin-bottom: 0;
}

.pagination {
	margin-left: auto;
	margin-right: auto;
	float: left;
	position: relative;
	top: 5000px;
}
